---
interface BreadcrumbItem {
    label: string;
    link?: string;
}

interface Props {
    items: Array<BreadcrumbItem>;
    separator?: string;
}

const {
    items,
    separator = '/',
} = Astro.props;
---

<nav class="breadcrumbs">
    {items.map((item, index) => (
        <span data-index={index}>
            {item.link ? <a href={item.link}>{item.label}</a> : item.label }
            {index !== items.length - 1 && <span>{separator}</span>}
        </span>
    ))}
</nav>

<style>
    .breadcrumbs {
        justify-content: flex-start;
        gap: 5px;
    }
</style>