---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<main class:list={[
  'main-content p-16 bg-gray-50',
  className
]}>
  <slot />
</main>

<style>
  .main-content {
    grid-area: main;
    overflow-y: auto;
  }
</style>