---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div class:list={[
  'dashboard-layout',
  className
]}>
  <slot />
</div>

<style>
.dashboard-layout {
    min-height: 100dvh;
    max-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
    ;

    @media screen and (max-width: 768px) {
        grid-template-areas: 
            "header"
            "main"
        ;
        grid-template-columns: 1fr;
    }
}
</style>